# wb_hack.ipynb слишком большой для GitHub рендеринга (105 ячеек, 4.5MB HTML)
# Используй nbviewer: https://nbviewer.org/github/OSAndreev/WB_Hack/blob/main/wb_hack.ipynb
wb_hack.ipynb -linguist-detectable
